#content {
  height: 100%;
}

.overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  display: grid;
  place-items: center;
}

#content .overlay .text {
  font-size: 3.5rem;
  font-weight: 200;
  width: 23%;
  text-align: center;
  margin: auto;
}
/* ======================== MEDIA QUERIES (MEDIUM DEVICES) ==================================*/
@media screen and (max-width: 1024px) {
  #content .overlay .text {
    font-size: 2.5rem;
    width: 45%;
  }
}

/* ======================== MEDIA QUERIES (SMALL DEVICES) ==================================*/
@media screen and (max-width: 600px) {
  #content img {
    height: 100vh;
  }

  #content .overlay .text {
    font-size: 2.5rem;
    width: 45%;
  }
}
