/* Card */
.card {
  display: grid;
  place-items: center;
}

.card .details {
  display: grid;
  grid-template-rows: minmax(2rem, 4rem) minmax(7rem, 12rem) 4rem;
  background-color: #f1f1f1;
  padding: 2rem;
}

.card .details .title {
  text-align: center;
  font-size: 1rem;
  font-weight: 400;
}

.card .details .description,
.card .details .timings {
  text-align: center;
  font-size: 0.8rem;
}

.card .details .timings {
  place-self: end;
}

.card .details > div {
  height: fit-content;
  width: 100%;
  height: 100%;
}

.image {
  width: 100%;
}
/* ======================== MEDIA QUERIES (MEDIUM DEVICES) ==================================*/
@media screen and (max-width: 1024px) {
  .card .details {
    padding: 1rem;
  }
}

/* ======================== MEDIA QUERIES (SMALL DEVICES) ==================================*/
@media screen and (max-width: 600px) {
  .card .details {
    padding: 1rem;
  }
}
