/* Card */
.card {
  display: grid;
  grid-template-rows: 1fr;
  place-items: center;
}

.card .details {
  display: grid;
  grid-template-rows: 4rem 10rem 4rem;
  gap: 0.5rem;
  background-color: #f1f1f1;
  padding: 2rem;
  /* height: 20rem; */
}

.card .details .title {
  text-align: center;
  font-size: 1rem;
  font-weight: 400;
}

.card .details .description,
.card .details .timings {
  text-align: center;
  font-size: 0.8rem;
}
