* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}

:root {
  --color-bg: #ffffff;
  --color-bg-variant: #000000;
  --color-primary: #ffffff;
  --color-primary-variant: #000000;
  --color-white: #fff;
  --color-light: rgba(255, 255, 255, 0.6);

  --transition: 400ms;

  --container-width-lg: 75%;
  --container-width-md: 86%;
  --container-width-sm: 98%;

  --btn-primary: #10a19d;
  --btn-primary-text: #ffffff;
}

html {
  scroll-behavior: smooth;
}

::-webkit-scrollbar {
  display: none;
}

body {
  font-family: Blanco, system-ui, -apple-system, BlinkMacSystemFont,
    Segoe UI, Roboto, Helvetica, Arial, sans-serif, Apple Color Emoji,
    Segoe UI Emoji, Segoe UI Symbol;
  background: var(--color-bg);
  color: var(--color-black);
  line-height: 1.7;
  /* background-image: url(../src/assets/bg-texture.png); */
}

/* ============== GENERAL STYLES ================== */
.container {
  width: var(--container-width-lg);
  margin: 0 auto;
}

.title {
  font-size: 1.75rem;
  font-weight: 300;
}

.heading {
  font-weight: 600;
}

.sub-heading {
  font-weight: 500;
}

.normal-text {
  font-weight: 400;
}

section {
  height: 100vh;
}

.text-light {
  color: var(--color-light);
}

.border-top {
  border-top: 1px solid #000;
}

/* a {
  color: var(--color-primary);
  transition: var(--transition);
} */

/* a:hover {
  color: var(--color-white);
} */

.btn {
  width: max-content;
  display: inline-block;
  color: var(--color-primary-variant);
  padding: 0.75rem 1.2rem;
  /* border-radius: 0.4rem; */
  cursor: pointer;
  border: 1px solid var(--color-primary-variant);
  transition: var(--transition);
}

.btn:hover {
  background-color: var(--color-primary-variant);
  color: var(--color-bg);
}

.btn-primary {
  border: none;
  border-radius: 5px;
  font-size: 16px;
  padding: 1rem 3rem;
  background: var(--btn-primary);
  color: var(--btn-primary-text);
}

img {
  display: block;
  width: 100%;
  object-fit: cover;
}

.position-relative {
  position: relative;
}

mark {
  background-color: #ffffff;
  opacity: 0.5;
}

.headings {
  font-size: 30px;
  font-weight: 600;
  width: 100%;
  height: 100%;
  display: grid;
  place-items: center;
  padding: 1rem;
}

.overlay {
  position: relative;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.8);
}
.popup {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  width: 50%;
  height: 50%;
  background: #ffffff;
  border-radius: 5px;
  display: grid;
  place-items: center;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.popup-content {
  padding: 1rem;
  display: grid;
  place-items: center;
}

.popup-content .icon-container {
  height: auto;
  width: 15rem;
}

.alert {
  position: fixed;
  left: 25%;
  bottom: 4%;
  width: 50%;
  min-height: 2rem;
  background: #ff1e1e;
  color: #ffffff;
  border-radius: 5px;
  display: grid;
  place-items: center;
  box-shadow: 0 0 0 0.2rem 2px lightgrey;
}

.success {
  background: #3d8361;
}

.error {
  background: #ff5959;
}

.input {
  border: 1px solid green;
  padding: 0.2rem 1rem;
}

.input > input {
  width: 100%;
}

select {
  width: 100%;
}

.text-area {
  width: 100% !important;
  min-height: 5rem !important;
}
/* ======================== MEDIA QUERIES (MEDIUM DEVICES) ==================================*/
@media screen and (max-width: 1024px) {
  .container {
    width: var(--container-width-md);
  }
  /* .popup {
    left: 10%;
    width: 75%;
  } */
}

/* ======================== MEDIA QUERIES (SMALL DEVICES) ==================================*/
@media screen and (max-width: 600px) {
  .container {
    width: var(--container-width-sm);
  }
  /* .popup {
    left: 0;
    width: 100%;
  } */
}
